<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeSense-Restful APIs</title>

    <script src="/node_modules/socket.io-client/dist/socket.io.js"></script>

</head>
<body>

<script>
  var socket = io();

   socket.on('offer', function (offer) {
       console.log("offer ", offer);
   })
</script>

    <h1>JSON RESTFul Server API End Points</h2>

    <p> Using <a href="https://github.com/typicode/json-server">https://github.com/typicode/json-server</a>, 
        added JWT and Delayed end points for workshops
        Please refer the same for detailed documentation for filter, sort, query, pagination
    </p>

    <p>Note: Username and passwords kept transparent, 
        servered from json file as raw data. 
        In real scenarios, password and other sensitive data are not transmitted.
    </p>


    <p>Note: Server doesn't do any data validation.
        Do you want to add more data, open db.json, add entries, restart the server?
        Supported methods

        <pre>
            to get all resources
            GET /api/products
            
            to get a specific resource object by id
            GET /api/products/1
            
            to create new resource, server would generate unique id
            POST /api/products 
                {followed by json data}

            to update existing resource
            PUT  /api/products/1 
                {followed by json data}

            to delete existing resource
            DELETE /api/products/1 

            to update (patch) existing resource with specific field name
            PATCH /api/products/1
                    {followed by json data with specific field to update}
        </pre>
    </p>
    
    
    
    <ul>
    <% endPoints.forEach(function(endPoint){ %>
        <li>
         <a href="http://<%=host%>:<%=port%>/api/<%=endPoint%>"> 
             http://<%=host%>:<%=port%>/api/<%=endPoint%> 
        </a>
         </li>
    <% }) %>
     </ul>
    
    <h1>Delayed End Points (2 to 8 seconds delay)</h2>
 
    <ul>
    <% endPoints.forEach(function(endPoint){ %>
        <li>
         <a href="http://<%=host%>:<%=port%>/delayed/api/<%=endPoint%>"> 
             http://<%=host%>:<%=port%>/delayed/api/<%=endPoint%> 
        </a>
         </li>
    <% }) %>
     </ul>

    <h1>Secured End Points </h2>
    
    <p>secured end points to begin with, you should be using this
       for Authentication and Authorization requirements
    </p>
    <pre>
        http://<%=host%>:<%=port%>/secured
    </pre>

    <p> 
        to login, send username, password as json

        <pre>
            POST /oauth/token
            ..
            Content-Type: application/json

            {
                "username": "admin",
                "password": "admin"
            }
        </pre>

        <p> Server sends back token, expires and identity information</p>

        We have below user names and password.

        <ol>
            <li> username: admin, password: admin</li>
            <li> username: staff, password: staff</li>
            <li> username: user, password: user</li>
        </ol>

    </p>

    <p> The below APIs must be having Authorization header with "JWT \<token\>"
        for all GET, POST, PUT, DELETE requests


        <pre>
            Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOjEsImV4cCI6MTQ5ODY1ODY4NTc4Nn0.2IuvLDf_-ipiRwQFGGX4nPNAcE1VwlX0bcLThvlUP88-p":
        </pre>



    </p>

    
    <ul>
    <% endPoints.forEach(function(endPoint){ %>
        <li>
         <a href="http://<%=host%>:<%=port%>/secured/api/<%=endPoint%>"> 
             http://<%=host%>:<%=port%>/secured/api/<%=endPoint%> 
        </a>
         </li>
    <% }) %>
     </ul>

    <h2>Check if a value exists in collection object</h2>
    <p>Sometimes you may want to check if a field value exist or not for validation</p>

    <p>Use below API for same 

        <a href="http://<%=host%>:<%=port%>/api/exist/products/id/10"> 
            http://<%=host%>:<%=port%>/api/exist/products/id/10
        </a>
        <br />
        
        The syntax is 
        <br />
        
        http://localhost:7070/api/exist/{{collection-name}}/{{fieldname}}/{{expected-value}}

        <br />
        
        returns json result with true or false value

    </p>


     <h1> Errors and Activities kept in logs.json file, we have below end points</h2>

    <p>Note: Use separate end points, do not use delayed, secured for errors and activities</p>

        <ul>
            <% ["errors", "activities"].forEach(function(endPoint){ %>
                <li>
                 <a href="http://<%=host%>:<%=port%>/logs/<%=endPoint%>"> 
                     http://<%=host%>:<%=port%>/logs/<%=endPoint%> 
                </a>
                 </li>
            <% }) %>
             </ul>


    <h1>Upload a file</h1>

    <p>Access All files in /uploads directory
        <a href="http://<%=host%>:<%=port%>/uploads">
            Uploaded Files 
        </a>
    </p>
    <p>Example, NOTE: the filename should be name="document"</p>

    <pre>
            

    &lt;form action=&quot;/upload&quot; method=&quot;post&quot; enctype=&quot;multipart/form-data&quot;&gt;
        Select image to upload:
        &lt;input type=&quot;file&quot; name=&quot;document&quot; id=&quot;imageToUpload&quot;&gt;
        &lt;input type=&quot;submit&quot; value=&quot;Upload Image&quot; name=&quot;submit&quot;&gt;
    &lt;/form&gt;

       
    </pre>
    
    <pre> 
        Returns json response 

        {
            "message": "File uploaded successfully",
            "result": true,
            "filePath": "/uploads/1527584529745-TODO.txt"
          }

    </pre>

    <h4>Example upload</h4>

    <form action="/upload" method="post" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" name="document" id="imageToUpload">
        <input type="submit" value="Upload Image" name="submit">
    </form>

           

</body>
</html>